.Dashboard {
  & .CardsList {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.cardRow {
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .Dashboard {
    & .CardsList {
      justify-content: center;
      gap: 15px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

@media screen and (max-width: 375px) {
  .cardRow {
    flex-direction: column;
    gap: 10px;
  }
}
