:root {
  --brand-color-1: #311e14;
  --brand-color-2: #143115;
  --brand-color-3: #fff9ee;
  --brand-color-4: #ffd25e;
  --brand-color-5: #b87070;
  --brand-color-6: #d2a1e9;
  --brand-color-7: #acc1cb;
  --brand-color-8: #8baa80;
  --brand-color-9: #ee8542;

  --black: #1f1f1f;
  --white: #ffffff;
}

:root {
  --color-text: var(--black);
  --bgcolor-page: #f8f8f8;
}
