@import url(../../styles/_variables.css);

.container{
    display: none;
}

@media (max-width: 768px){ 
    .container {
        position: fixed;
        top: 0px;
        left: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        background-color: var(--white);
        height: 65px;
        width: 100vw;
    }
}