.container {
    display: flex;
    justify-content: space-between;
    padding:0px calc(10% - 14px) 0px 3%;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: var(--white);
}

.arrowIcon {
    height: 17.5px;
    width: 17.5px;
}

.input {
    display: flex;
    align-items: center;
}

Input.search {
    height: 37px;
    width: 212px;
    border-radius: 8px;
}

.input img {
    width: 14px;
    height: 14px;
    position: relative;
    right: 28px;
}

@media (max-width: 768px){
    .arrowIcon {
        display: none;
    }

    .container{
        width: 100vw;
        height: 53px;
        justify-content: center;
        align-items: flex-start;
        padding: 0% calc(5% - 14px) 0% 5%;
    }

    .input{
        justify-content: center;
        width: 100vw;
    }

    Input.search {
        width: 100%;
    }
}
